
*.errlog
*.outlog
*.log
*.bin
*.tar.gz
*.queue
*.toolkits
*.mat
*.nc
raw_data
preprocessed_data
._*
InterpFromGrid.mexa64
InterpFromGrid.mexmaci64
scripts/InterpFromGrid.mexa64
scripts/InterpFromGrid.mexmaci64init/*.toolkits
